@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --dark: #201e43;
  --darker: #021526;
  --light: #eeeeee;
  --accent: #e2e2b6;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* END OF SETUP */

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, var(--dark) 0%, var(--darker) 100%);
  color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* justify-content: center; */
}

.header {
  padding: 3rem;
  font-family: "Playfair Display", sans-serif;
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: crosshair;
}

.header:hover {`
  font-size: 5.25rem;
  font-weight: bold;
  letter-spacing: 1rem;
  color: var(--accent);
}

.footer {
  padding: 2rem;
  font-family: "Playfair Display", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}

#game {
  flex: 1;
  height: 100%;
  width: 60%;
  padding: 1rem;
}

#controls,
#stats {
  padding-bottom: 1.5rem;
  color: var(--accent);
  font-family: "Playfair Display", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

#stats .stat {
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  transition: 0.5s;
}

#stats .stat:hover {
  color: var(--light);
  font-size: 1.75rem;
  cursor: crosshair;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

#controls button {
  margin: 0.5rem;
  border: none;
  border-top: 5px solid var(--light);
  border-radius: 0.5rem;
  padding: 0.75rem 3rem;
  cursor: pointer;
  color: var(--dark);
  background-color: var(--accent);
  font-weight: bold;
  font-size: 1.25rem;
  transition: 0.5s;
}

#controls button:hover {
  font-size: 1.5rem;
  background-color: var(--dark);
  color: var(--light);
}
